*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --tomatoColor: hsl(4, 100%, 67%);
  --DarkSlateGrey: hsl(234, 29%, 20%);
  --CharcoalGrey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "RobotoRegular";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

body {
  background-color: var(--DarkSlateGrey);
  font-family: "RobotoRegular";
}

h1 {
  font-size: 32px;
  font-family: "Roboto";
  color: var(--DarkSlateGrey);
  margin-top: 20px;
}

p {
  font-family: "RobotoRegular";
  color: var(--CharcoalGrey);
  margin: 20px 0;
}

ul li {
  display: flex;
  align-items: center;
  font-family: "RobotoRegular", sans-serif;
  list-style: none;
  margin-bottom: 10px;
  font-size: 14px;
}

ul li img {
  display: inline-block;
  margin-right: 10px;
}

label,
input,
.btn {
  display: block;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sign-up_form {
  display: flex;
  width: 55%;
  height: 70vh;
  background-color: var(--White);
  margin: 30px auto;
  padding: 20px;
  gap: 20px;
  border-radius: 30px;
}

.form {
  width: 70%;
  padding: 10px;
}

.img {
  width: 60%;
  padding-right: 10px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 10px;
  border-radius: 10px;
}

label {
  margin: 25px 0 10px 0;
  font-family: "Roboto";
}

input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid var(--Grey);
  border-radius: 10px;
  outline: none;
}

input[type="email"]:focus {
  border: 1px solid var(--White) !important;
}

input[type="email"]:hover {
  border: 1px solid var(--DarkSlateGrey);
  cursor: pointer;
}

.btn {
  margin-top: 15px;
  width: 100%;
  padding: 12px 0;
  border: none;
  outline: none;
  background-color: var(--DarkSlateGrey);
  color: var(--White);
  font-family: "Roboto";
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--tomatoColor);
}

.error-message {
  display: none;
  float: right;
  color: red;
  font-family: "RobotoRegular";
  /* margin-left: 10px; */
}

.success-message {
  display: none;
  width: 30%;
  height: 55vh;
  background-color: var(--White);
  padding: 20px 40px;
  border-radius: 25px;
}

.success-message img {
  width: 15%;
  height: 15%;
}

.success-message h2 {
  font-family: "Roboto";
  font-size: 32px;
  margin-top: 18px;
  line-height: 2rem;
}

.success-message p {
  font-size: 14px;
  margin-top: 20px;
}

.success-message span {
  font-family: "Roboto";
}

.dismiss-btn {
  width: 100%;
  padding: 13px 0;
  outline: none;
  border: none;
  background-color: var(--DarkSlateGrey);
  color: var(--White);
  font-family: "Roboto";
  border-radius: 5px;
  cursor: pointer;
}

.dismiss-btn:hover {
  background-color: var(--tomatoColor);
}

@media (max-width: 600px) {
  .sign-up_form {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
  .img {
    width: 100%;
    height: auto;
  }

  .img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 0;
    border-radius: 10px;
  }

  .form {
    width: 100%;
  }

  .img {
    width: 100%;
    padding: 0;
  }

  .success-message {
    width: 100%;
    height: 100vh;
    background-color: var(--White);
    padding: auto;
    border-radius: 0;
  }

  .success-btn {
    margin-top: 150px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
